.login-wrapper {
  width: 100%;
  max-width: 450px;
  padding: 40px;
}

.login-wrapper h1 {
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.login-wrapper p {
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  color: #ccc; /* Ajuste de cor para legibilidade */
}

.login-wrapper .input-field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px auto;
}

.input-field input {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1); /* Fundo leve sem vidro */
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 25px;
}

.input-field input::placeholder {
  color: #fff;
}

.input-field .icon {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
}

.login-wrapper .recall-forget {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  color: #ccc; /* Ajuste de cor */
}

.recall-forget label input {
  accent-color: #fff;
  margin-right: 4px;
  border: 1px solid #ccc; /* Borda verde */
  border-radius: 4px; /* Cantos arredondados */
  width: 16px; /* Tamanho padrão */
  height: 16px; /* Tamanho padrão */
  appearance: none; /* Remove o estilo padrão */
  cursor: pointer;
  background-color: transparent; 
  transition: border-color 0.3s; /* Transição suave */
}

.recall-forget label input:checked {
  border: 2px solid #34A853; /* Preenchimento quando marcado */
}

.recall-forget a {
  color: #7F5AF0;
  
}

.recall-forget a:hover {
  text-decoration: underline;
}

.login-wrapper button {
  width: 100%;
  height: 45px;
  background: #7F5AF0;
  background: linear-gradient(90deg, #7F5AF0 0%, #732cb6 100%);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-shadow: none;
  background-size: 200% auto;
  transition: background-position 0.5s ease;
}

.login-wrapper button:hover {
  background-position: right center;
}

.login-wrapper .signup-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
  color: #ccc; /* Ajuste de cor */
}

.signup-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.signup-link p a:hover {
  text-decoration: underline;
}